<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="css/qeydiyyat.css">
</head>
<body>
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>QEYDİYYATDAN KEÇİN</h1>
          <p>Zəhmət olmasa yeni hesab yaratmaq üçün məlumatlarınızı daxil edin.</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email"  required>
      
          <label for="psw"><b>Şifrə</b></label>
          <input type="password" placeholder="Enter Password"  required>
      
          <label for="psw-repeat"><b>Şifrənin təkrarı</b></label>
          <input type="password" placeholder="Repeat Password"  required>
      
          <label>
            <input type="checkbox" checked="checked" style="margin-bottom:15px"> Məni xatırla
          </label>
      
          <p> <a href="#" style="color:dodgerblue">Şərtlər və qaydalar</a>.</p>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Çıxış</button>
            <button type="submit" class="signupbtn">Qeydiyyatdan keçin</button>
          </div>
        </div>
      </form>
</body>
</html>