<!DOCTYPE html>
<html lang="az">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ƏLAQƏ</title>
  <link rel="stylesheet" href="css/əlaqə.css">
</head>

<body>
  <div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">RoboTman</h2>
        </div>

        <div class="menu">
            <ul>
              <li><a href="index.html">ƏSAS</a></li>
              <li><a href="haqqımızda.html">HAQQIMIZDA</a></li>
              <li><a href="#">SERVİZ</a></li>
              <li><a href="məhsullar.html">MƏHSULLAR</a></li>
              <li><a href="əlaqə.html">ƏLAQƏ</a></li>
            </ul>
        </div>

        

    </div>
  <div class="container">
    <form action="action_page.php">

      <label for="fname">Adınız </label>
      <input type="text" placeholder="adınızı daxil edin ">

      <label for="lname">Soyadınız</label>
      <input type="text" placeholder="Sizin Soyadınız">
      <label for="email">E-mail</label>
      <input type="text" placeholder="Emailnizi daxile edin">

      <label for="country">Ölkə</label>
      <select id="country" name="country">
        <option value="Azərbaycan">Azərbaycan</option>
        <option value="türkiyə">Türkiyə</option>
        <option value="usa">USA</option>
        <option value="avustraliya">Avustraliya</option>
        <option value="Canada">Canada</option>
        <option value="Rusiya">Rusiya</option>
        <option value="Gürcüstan">Gürcüstan</option>
        <option value="Uraniya">Ukraniya</option>
        <option value="Macaristan">Macaristan</option>
        <option value="Almaniya">Almaniya</option>
      </select>

      <label for="subject">Mövzu</label>
      <textarea
        placeholder="Zəhmət olmasa müraciətinizi ətraflı olaraq daxil edin. Əməkdaşlarımız ən qısa zamanda sizinlə əlaqə saxlayacaqlar."
        style="height:200px"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>
</body>

</html>